.container{
    background-color: #E6EAF3;
    background-image: url('/assets/image/wall-morado1.png');
    background-size: 100vw 121vh;
    padding: 32px 265px
}
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
}

form{
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: white;
    flex-direction: column;
    padding-right: 64px;
    border-radius: 30px;
}

input{
    border-radius: 6px;
    border: 1px solid #908CA3;
    padding: 12px;
    width: auto;
    font-size: 15px;
}
textarea{
    border-radius: 6px;
    border: 1px solid #908CA3;
    padding: 12px;
    width: auto;
    height: 160px;
    font-size: 15px;
}
.form-inputs{
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-bottom: 20px;
}
*,*:after,*:before{
    box-sizing: border-box;
  }
  
  html{
    box-sizing: inherit;
    background: linear-gradient(to left, #E8FFF9 , #eef2f3);
  }
  body{
    margin: 2% auto;
    text-align: center;
    font-size: 14px;
    font-family: Verdana;
  }
  .select-css {
    display: block;
    font-size: 16px;
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 400px;
    max-width: 100%; 
    box-sizing: border-box;
   margin: 20px auto;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
  }
  .select-css::-ms-expand {
    display: none;
  }
  .select-css:hover {
    border-color: #888;
  }
  .select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
  }
  .select-css option {
    font-weight:normal;
  }
  
  
  .classOfElementToColor:hover {background-color:red; color:black}
  
  .select-css option[selected] {
      background-color: orange;
  }
  
  
  /* OTROS ESTILOS*/
  .styled-select { width: 240px; height: 34px; overflow: hidden; border: 1px solid #ccc; }
  
   
  
.sidebar-box select{
    display:block;
    padding: 5px 10px;
    --webkit-appearance: none;
    background-color: white;
    border-radius: 5px;
    height: 48px;
    border: 2px solid #908CA3;
    width: 100%;
  }
.container-image-form{
    position: absolute;
    bottom: -24px;
    right: 175px;
    top: 187px;
}
.container-image-form img{
    width: 95%;
}
.container-form{
    width: 77%;
}
.title ::ng-deep h1{
    font-family: Nunito-Black;
    font-size: 42px;
}
.title ::ng-deep h1 ::ng-deep strong{
    color: #7D48FF;
    font-family: Nunito-Black;
    font-size: 42px;
}
.title ::ng-deep p{
    font-family: Nunito-Regular;
    font-size: 21px;
    line-height: 25px;
    color: #595272;
}
.container-card-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  padding: 45px 0px;
  justify-items: center;
  gap: 20px;
}

.card{
  background-color: white;
  border-radius: 40px;
  max-width: 260px;
}
.img-icono{
  text-align: center;
  padding: 10px;
}
.text-container-card{
  padding: 15px;
}
.card-flex{
  background-color: white;
  border-radius: 40px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  box-shadow: 3px 7px 13px 3px #2D1DCD47;

}
.text-card ::ng-deep a{
  color: #7D48FF !important;
  font-weight: 700;
  font-family: Nunito-Regular;
  padding-top: 20px;
  font-size: 15px;
  padding-left: 20px;
  text-decoration: none;
}
.container-help{
  background-image: url('/assets/image/Vector33.png'), url('/assets/image/Vector34.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
  background-size: 100vw 121vh;
  padding: 46px 265px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  background-color: #f9eaff57;
}
.mobile{
  display: none;
}
.desktop{
  display: block;
}
input{
  font-family: Nunito-Regular;
}
textarea{
  font-family: Nunito-Regular;
}
.text-container{
  padding: 10px;
}

@media screen and (max-width: 1250px) {
  .container{
    padding: 46px 130px;
  }
  .container-image-form img{
    position: relative;
    right: -160px;
    width: 90%;
    top: 40px;
  }
  .title ::ng-deep h1{
    font-size: 39px;
  }
  .container-help{
    padding: 46px 130px;
  }
  .card-flex{
    width: 100%;
    height: 95%;
  }
}

@media screen and (min-width : 346px) and (max-width: 576px) { /** móviles**/
  .container-image-form img{
    position: relative;
    right: 0px;
    width: 95% !important;
    top: 4px;
  }
  .container{
    padding: 46px 30px;
  }
  .banner{
    grid-template-columns: repeat(1, 1fr);
  }
  .container-form{
    width: 100%;
  }
  .container-image-form{
    width: 55%;
    top: 0px;
    right: 0px !important;
  }
  .title ::ng-deep h1 {
    font-family: Nunito-Black;
    font-size: 35px;
  }
  .title ::ng-deep h1 ::ng-deep strong {
    color: #7D48FF;
    font-family: Nunito-Black;
    font-size: 35px;
  }
  .title ::ng-deep p{
    font-size: 19px;
    line-height: 25px;
    color: #595272;
  }
  form{
    padding: 36px;
    padding-right: 40px; 
  }
  .container-image-form{
    position: relative;
    right: -75px;
  }
  .container-help{
    grid-template-columns: repeat(1, 1fr);
    padding: 46px 34px;
    background-size: 102vw 134vh;
  }
  .container-card-grid{
    grid-template-columns: repeat(1, 1fr);
    gap: 18px;
  }
  .card-flex{
    grid-template-columns: repeat(1, 1fr);
    padding: 15px;
    height: auto;
    max-height: fit-content;
  }
  .text-card a {
    padding-left: 20px;
  }
  .img-icono{
    text-align: left;
  }
  .text-card ::ng-deep h2{
    margin: 0px;
  }
  .text-card ::ng-deep a{
    padding: 0px;
  }
  .mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .mobile .icono{
    margin-left: -29px;
  }
  .desktop{
    display: none;
  }
  .button-form-dos{
    text-align: center;
  }
}