<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Correo de Bienvenida</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script src="https://kit.fontawesome.com/38c73dff3e.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<style>
    @import url('href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,900;1,200&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;0,900;1,200&display=swap');

</style>
<body style=" width: 654px;margin-left: auto;margin-right: auto;">
    <div style="background-color: #7D48FF;padding: 15px;">
        <img src="https://ukei-image.s3.amazonaws.com/email-logo.png"/>
    </div>
    <div>
        <div style=" text-align: center;">
            <img src="https://ukei-image.s3.amazonaws.com/Group+206(5).png"/>
        </div>
        <h2 style="text-align: center;font-family: 'Nunito', sans-serif;font-weight: 600;font-size: 30px;line-height: 43px;">
            Nuestro equipo recibió <br> tu solicitud
        </h2>
    </div>
    <div style="padding:10px 30px 0px 30px;">
        <p style="font-family: 'Nunito', sans-serif; font-weight: 300;font-size: 15px;line-height: 20px;">
            ¡Hola! Queremos que sepas que tu caso es muy importante para nosotros, y 
            que <strong style="font-family: 'Nunito', sans-serif; font-weight: 600;">
            Ukei está aquí para brindarte tranquilidad</strong>. Entendemos que puede ser estresante tener 
            un problema que resolver, pero ten por seguro que haremos todo lo posible por ayudarte.</p>
    </div>
    <div style="text-align: center;padding: 20px;">
        <img src="https://ukei-image.s3.amazonaws.com/Attorney+and+Client(2).png"/>
    </div>
    <div style="padding:10px 30px 0px 30px;">
        <p style="font-family: 'Nunito', sans-serif;font-weight: 300;font-size: 15px;line-height: 20px;">
            Nuestro equipo está trabajando duro en tu caso, y <strong style="font-family: 'Nunito', sans-serif;
            font-weight: 600;">nos pondremos en contacto contigo en un plazo máximo de 48 horas</strong>
             para que podamos continuar el proceso. Queremos asegurarnos de 
             que te sientas completamente informado en todo momento.</p>
    </div>
    <div style="display: flex;">
        <div><img src="https://ukei-image.s3.amazonaws.com/Icons+for+Card(13).png" alt=""></div>
        <div style="padding: 0px 50px 0px 50px;">
            <p style="font-family: 'Nunito', sans-serif;font-weight: 300;font-size: 15px;line-height: 20px;">
             Por favor, no dudes en hacernos saber si tienes alguna pregunta o inquietud, respondiendo este correo.
             Estamos aquí para escucharte y ayudarte en todo lo que podamos.</p>
        </div>
    </div>
    <div>
        <hr style="color:#f0f8ff96;">
        <div>
            <h3 style="text-align: center; font-family: 'Nunito', sans-serif;font-weight: 500;font-size: 20px;line-height: 43px;">
                <strong>¡Gracias por confiar en nosotros!</strong> 💜<br>
                ¡Vamos por toda!
            </h3>
        </div>
        <hr style="color:#f0f8ff96;">
    </div>
    <div style="padding: 10px;">
        <div style="float: left;width: 50%;">
            <img src="https://ukei-image.s3.amazonaws.com/ukEi(1).png"/>
        </div>
        <div style="float: left;width: 50%;text-align: right;">
            <div class="social">
                <div class="grid-soial">
                     <a target="_blank" href="https://www.facebook.com/profile.php?id=100090689718094"><img src="https://ukei-image.s3.amazonaws.com/facebook+(1)(1).png"/></a>
                     <a target="_blank" href="https://www.instagram.com/ukeigestion/"><img src="https://ukei-image.s3.amazonaws.com/instagram+(1)(1).png"/></a>
                     <a target="_blank" href="linkedin.com/in/ukei-gestión-423a1b268"><img src="https://ukei-image.s3.amazonaws.com/linkedin+(1)(1).png"/></a>
                     <a target="_blank" href="https://www.tiktok.com/@ukeigestion?is_from_webapp=1&sender_device=pc"><img src="https://ukei-image.s3.amazonaws.com/tiktok+1(1).png"/></a>
                     <a target="_blank" href="https://www.tiktok.com/@ukeigestion?lang=es"><img src="https://ukei-image.s3.amazonaws.com/twitter(1).png"/></a>
                </div> 
            </div>
        </div>
    </div>
</body>
</html>